# Data Science Salary Analysis

------------------------------


Research Questions and Work Breakdown:


- Setup and config - everyone
- Salary increase/decrease from 2020-2024 - Khadija
- How does the average salary vary by experience? - Maria
- What is the breakdown of senior/mid-level/entry level jobs? Does this say anything about the job market right now? - Riley, Khadija 
- What is the average salary for each job title? - Susan (Riley)
- Country totals for Data Science Jobs - Which country had the most data science jobs per capita? We can make calls to population statistics APIâ€™s to help with this. Could tell us which country has a more evolved service economy, particularly in the IT sphere.  - Riley
- Subquestions to the above question - breakdown by residence versus company location.
- API/census notebook? - Riley



======================================================

- Wich job title offers more jobs WFH vs on site
- What is the impact of company size?
- Does the size of the company correlate with the number of Data Science jobs

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
from scipy.stats import linregress
from pathlib import Path

In [3]:
data_science_csv_file_path = Path("../resources/data_science_salaries.csv")

data_science_salaries_df = pd.read_csv(data_science_csv_file_path)

data_science_salaries_df.head()

,job_title,experience_level,employment_type,work_models,work_year,employee_residence,salary,salary_currency,salary_in_usd,company_location,company_size
0,Data Engineer,Mid-level,Full-time,Remote,2024,United States,148100,USD,148100,United States,Medium
1,Data Engineer,Mid-level,Full-time,Remote,2024,United States,98700,USD,98700,United States,Medium
2,Data Scientist,Senior-level,Full-time,Remote,2024,United States,140032,USD,140032,United States,Medium
3,Data Scientist,Senior-level,Full-time,Remote,2024,United States,100022,USD,100022,United States,Medium
4,BI Developer,Mid-level,Full-time,On-site,2024,United States,120000,USD,120000,United States,Medium

## Salary increase/decrease from 2020-2024

## Mean Salary Versus Exeperience

## Breakdown of Jobs by Experience

## Mean Salary Versus Job Title